body{
    font-family: sans-serif;     
    background-image: url('foto/plant-based-milk-as-alternatives-dairy.jpg'); 
    background-size: cover;  
    background-repeat: no-repeat;
    background-position:center ;
    height: 100vh;
    margin: 0px;
}



.Sign-in-container{
    background-color: rgb(248, 248, 248);

    margin-left: 240px;
    margin-top: 140px;
    width: 400px;

    height: 500px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 3px 10px;
    border-radius: 15px;

    border: 5px solid;
 }


.Sign-in-container h1{
    display: flex;
    margin-left: 50px;
    margin-top: 38px;


}

.SI-elm{
    margin-top: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SI-elm input{
    width: 330px;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid;
    
  
}

.buttonSI {
    width: 360px;
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    background-color:#BA7957;
    box-shadow: 0 1px 2px;
    border-color: black;
color: white;
    transition: background-color 0.3s ease;
}


.buttonSI:hover{
    background-color: rgb(109, 54, 10);
}


.buttonCA {
    margin-top: 65px;
    width: 180px;
    padding: 28px;
    border-radius: 9px;
    border: 1px solid;
    background-color:#BA7957;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight:bold;
    border-color: black;
    color: white;
    
}

.CABTT a{

   color: #ffffff;
   text-decoration:none;
    
}

.buttonCA:hover{
    background-color: rgb(109, 54, 10);

}

.FP a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}



@media (max-width: 1024px) {
    .Sign-in-container {
        transform: scale(0.7) translate(-50%, -50%);
        transform-origin: center center;
        position: absolute;
        top: 35%;
        left: 20%;
        width: auto;
        height: auto;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .Sign-in-container {
        transform: scale(0.5) translate(-50%, -50%);
        transform-origin: center center;
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

@media (max-width: 375px) {
    body {
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .Sign-in-container {
        left: 50%;
        transform: scale(0.4) translate(-50%, -50%);
    }
}
@media (max-width: 320px) {
    body {
        background-size: cover; 
    }
    .Sign-in-container {
        top: 20%;
        left: 10%;
        transform: scale(0.4) translate(-50%, -50%);
    }
}